server:
  port: 8880


test:
  hello: Hello

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/wiki?characterEncoding=UTF8&autoReconnect=true&serverTimezone=Asia/Shanghai&allowMultiQueries=true
    username: wiki
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver


# 配置mybatis所有Mapper.xml所在的路径
mybatis:
  mapper-locations=classpath: /mapper/**/*.xml


# Mybatis Plus配置
mybatis-plus:
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0