<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olliego.wiki.dao.ContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.olliego.wiki.model.Content">
        <id column="id" property="id"/>
        <result column="create_people" property="createPeople"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_people" property="modifyPeople"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="deleted" property="deleted"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , create_people, create_time, modify_people, modify_time, deleted, content
    </sql>

</mapper>
